.emoticons {
    max-width: 5% !important;
}

.vlist {
    display: flex;
    justify-content: space-between;
}

.vlist > div {
    flex: 1;
    text-align: center;
    margin: 0.5em;
}

.current-sel {
    color: inherit !important;
}

.post :nth-child(1) {
	flex: 0 0 auto;
}

.post .tier {
	text-align: center;
	padding: .3rem;
	font-size: .8rem;
	background-color: var(--replies-color);
}
 

/* global styling */
:root {
	--bg-color: #eeeecc;
	--fg-color: #ffffdd;
	--replies-color: #f0f0d0;
	--text-color: #663333;
	--border-color: #66333388;
	--primary-color: #0066cc;
	--important-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000033;
		--fg-color: #202044;
		--replies-color: #16163a;
		--text-color: #cccccc;
		--border-color: #cccccc44;
		--primary-color: #6699ff;
		--important-color: #ff0000;
	}
}

body {
	max-width: 48rem;
	margin: auto;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}

footer {
	display: flex;
	gap: 2rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

a[href] {
	color: var(--primary-color);
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

.paginator {
	padding: 1rem;
	gap: .3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.paginator a {
	flex: 0 0 auto;
	height: 1rem;
	line-height: 1rem;
	padding: .5rem;
	text-align: center;
	background-color: var(--replies-color);
}

header {
	background-color: var(--fg-color);
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
	align-items: center;
}

.list {
	background-color: var(--fg-color);
	margin-bottom: 1rem;
}

/* thread.html: nav bar */

.thread-nav .title {
	font-size: 1.2rem;
	flex: 1 0 70%;
}

.thread-nav .from {
	font-size: 1.2rem;
}

/* thread.html: user post */

.post {
	/* display: flex; */
	flex-wrap: wrap;
	gap: 0 1rem;
	border-bottom: 1px solid var(--border-color);
	padding: 1rem;
}

.post > .bar-nav {
    padding: 0;
}

.tag {
	border-radius: .4rem;
	font-size: .8rem;
	padding: .1rem .4rem;
	margin-right: .2rem;
	color: white;
}

.tag-blue {
	background-color: var(--primary-color);
}

.tag-red {
	background-color: var(--important-color);
}

.post .permalink {
	float: right;
}

/* thread.html: replies to a user post */

.post .replies {
	background-color: var(--replies-color);
	margin-top: 1rem;
}

.post .replies .post {
	border-bottom: none;
}

.post .replies .post .avatar {
	width: 3rem;
	height: 3rem;
}

/* bar.html: nav bar */

.bar-nav img {
	width: 38px;
	height: 38.px;
}

.bar-nav .title {
	font-size: 1rem;
}

.bar-nav .stats small {
	margin-right: .5rem;
}

/* bar.html: thread list */

.thread {
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.thread .stats {
	flex: 0 0 4rem;
	text-align: center;
}

.thread .replies {
	font-size: .8rem;
	padding: .5rem .2rem;
	background-color: var(--replies-color);
}

.thread .summary {
	flex: 1 1 auto;
}

.thread .title {
	font-size: 1.1rem;
	margin-bottom: .5rem;
}

.thread .participants {
	font-size: .8rem;
	flex: 0 0 6rem;
}

.thread .participants a {
	padding-left: .3rem;
	color: var(--text-color);
}
