<!DOCTYPE html>
<head>
  <title>{{ data.title }} - 知乎者也</title>

  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/1337box_shadow.css" rel="stylesheet">
</head>

<body>
  <div class="list" style="padding: 1rem;">
    <h1>{{ data.title }}</h1>
    <p>{{ data.voteupCount }} 人赞同了该文章</p>
    <p>{% for topic in data.topics %}<a href="/topic/{{ topic.id }}">#{{ topic.name }}</a> {% endfor %}</p>
  </div>

  <header class="bar-nav">
    <img src="{{ data.author.avatarUrl }}">
    <div>
      <a href="/people/{{ data.author.urlToken }}">
	<div class="title">{{ data.author.name }}</div>
      </a>
      <div class="description">{{ data.author.headline }}</div>
    </div>
  </header>
  
  <div class="list">
    <div class="post">
      <div></div>
      {{ content|safe }}
    </div>
  </div>
  
  <footer>
    <div><a href="/">知乎者也</a></div>
    <div><a href="#">自豪地以 AGPLv3 释出</a></div>
    <div><a href="#">源代码</a></div>
  </footer>
</body>
