<!DOCTYPE html>
<head>
  <title>{{ user.name }}的动态 - 知乎者也</title>

  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/1337box_shadow.css" rel="stylesheet">
</head>

<body>
  <header class="bar-nav">
    <img src="{{ user.avatarUrl }}">
    <div>
      <a href="/people/{{ user.urlToken }}">
	<div class="title">{{ user.name }}</div>
      </a>
      <div class="description">{{ user.headline }}</div>
    </div>
  </header>

  <div class="list">
    <div class="vlist">
      <div><a class="current-sel" href="/people/{{ anyid }}">动态</a></div>
      <div><a>回答（{{user.answerCount}}）</a></div>
       <div><a>提问（{{user.questionCount}}）</a></div>
      <div><a>文章（{{user.articlesCount}}）</a></div>
    </div>
  </div>

  <div class="list" id="answer-body">
    {% for answer in answers %}
    <div class="post">
      <div></div>
      <i>
	{% for v in data['activities'].values() %}
	{% if v.target.id == answer.id %}
	{{ v.actionText }}
	{% endif %}
	{% endfor %}
      </i>
      <a href="/question/{{ answer.question.id }}/answer/{{ answer.id }}"><h2>{{ answer.question.title }}</h2></a>
      <header class="bar-nav">
	<img src="{{ answer.author.avatarUrl }}">
	<div>
	  <a href="/people/{{ answer.author.urlToken }}">
	    <div class="title">{{ answer.author.name }}</div>
	  </a>
	  <div class="description">{{ answer.author.headline }}</div>
	</div>
      </header>
      <div>
	{{ answer.content|safe }}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <footer>
    <div><a href="/">知乎者也</a></div>
    <div><a href="#">自豪地以 AGPLv3 释出</a></div>
    <div><a href="#">源代码</a></div>
  </footer>
</body>
