<!DOCTYPE html>
<head>
  <title>{{ question.title }} - 知乎者也</title>

  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/1337box_shadow.css" rel="stylesheet">

  <script>window.next_pointer = '{{ next[21:]|safe }}';</script>
</head>

<body>
  <div class="list" style="padding: 1rem;">
    <h1>{{ question.title }}</h1>
    <blockquote>{{ question.detail|safe }}</blockquote>
  </div>

  <div class="list">
    <div class="vlist">
      <div><a href="/question/{{ qid }}">默认排序</a></div>
      <div><a class="current-sel" href="/question/{{ qid }}/answers/updated">按时间排序</a></div>
    </div>
  </div>
  
  <div class="list" id="answer-body">
    {% for answer in answers %}
    <div class="post">
      <div></div>
      <header class="bar-nav">
	<img src="{{ answer.author.avatarUrl }}">
	<div>
	  <a href="/people/{{ answer.author.urlToken }}">
	    <div class="title">{{ answer.author.name }}</div>
	  </a>
	  <div class="description">{{ answer.author.headline }}</div>
	</div>
      </header>
      <div>
	{{ answer.content|safe }}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="list">
    <noscript>
      <div class="vlist" id="js-hidden">
	<div>您的浏览器不支持 JavaScript，无法加载更多回答</div>
      </div>
    </noscript>
    <div class="vlist" id="js-only" style="display: none;">
      <div><a href="javascript:void(0)" onclick="load_more()">加载更多回答</a></div>
    </div>
  </div>

  <script src="/static/js/loadmore.js"></script> 
  
  <footer>
    <div><a href="/">知乎者也</a></div>
    <div><a href="#">自豪地以 AGPLv3 释出</a></div>
    <div><a href="#">源代码</a></div>
  </footer>
</body>
