<!DOCTYPE html>
<head>
  <title>关于{{ kwards }}的搜索结果 - 知乎者也</title>

  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/1337box_shadow.css" rel="stylesheet">
</head>

<body>
  <div class="list" style="padding: 1rem;">
    <h1>关于 {{ kwards }} 的搜索结果</h1>
  </div>
  
  <div class="list" id="answer-body">
    {% for result in results %}
    <div class="post">
      <header class="bar-nav">
	<div>
	  <a href="{{ result.href }}">
	    <div class="title">{{ result.title }}</div>
	  </a>
	</div>
      </header>
      <div>
	{{ result.body }}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <footer>
    <div><a href="/">知乎者也</a></div>
    <div><a href="#">自豪地以 AGPLv3 释出</a></div>
    <div><a href="#">源代码</a></div>
  </footer>
</body>
